body {
	font-family: Arial, Verdana, sans-serif;
	}

h	{
	color: #ee3e80;
	}
	
p.zero	{	
	background-color: #85DB18;
	}
	
p.one	{	
	background-color: #CDE855;
	}
	
p.two	{	
	background-color: #F5F6D4;
	}
	
p.three	{	
	background-color: #A7C520;
	}
		
p.four	{	
	background-color: #493F0B;
	}
	
	