body {
	font-size: 80%;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 0.15em;	
	background-color: #efefef;
	}
		
ul#navigation {
	list-style-type: none;
	text-align: center;
	width: 625px;
	border-width: 2px 0px 1px 0px;
	border-style: solid;
	border-color: #000;
	padding: 15px;
	margin: 0px auto;
	}

.content {
	width: 600px;
	margin: 20px auto;
	}
	
h1	{
	font-size: 150%; 
	}
	
h2	{
	font-size: 133%;
	}

h3	{
	font-size: 125%;
	}
	
	
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
	}

#page	{
	width:960px;
	border-width: 4 px 4px 4px 4px;
	border-style: double
	border-color: #000;
	padding: 20px;
	margin: 10px auto;
	}

#logo	{
	width:303px;
	margin: 10px auto 25px;
	float: left;
	
	}
	


.column1of2 .column2of2	{
	width: 280px;
	float: left;
	margin: 10px;
	}

#gallery-content	{
	width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right:auto;
	overflow: auto;
	}

.entry	{
	font-size: 70%;
	width: 220 px;
	height: 220px;
	float: left;
	margin: 10px;
	overflow: auto;
	}
	
figure 	{
	display: block;
	width: 202px;
	height: 193px;
	margin: 0px;
	padding: 9px;
	background-color: #e7e3d8;
	text-align: left;
	
	}

figure img	{
	width: 200px;
	height: 150px;
	border: 1px solid #8c9c9e;
	}
	
figcaption	{
	padding-top: 5px;
	padding-left: 25px;
	background-iage: url("images/icon.png") no-repeat;
	}

.entry	{
	background-image: url("images/shadow.png");
	background-repeat: no-repeat;
	background-position: bottom;